input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(0,0,0) !important;
    background-image: none !important;
    color: #00ff00 !important;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(0,0,0) !important;
    background-image: none !important;
    color: #00ff00 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
    -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
}


.btn-primary {
    color: #00ff00;
    background-color: rgba(0,255,0,0);
    border-color: #00ff00;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #00ff00;
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}


.btn-primary:focus,
.btn-primary.focus {
    color: #00ff00;
    background-color: rgba(0,255,0,0.5);
    border-color: #00ff00;
}
.btn-primary:hover {
    color: #00ff00;
    background-color: rgba(0,255,0,0.5);
    border-color: #00ff00;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #00ff00;
    background-color: rgba(0,255,0,0.5);
    border-color: #00ff00;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #00ff00;
    background-color: rgba(0,255,0,0.5);
    border-color: #00ff00;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: rgba(0,255,0,0.5);
    border-color: #00ff00;
}
.btn-primary .badge {
    color: #00ff00;
    background-color: rgba(0,255,0,0);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit*/
    color:    #33cc66 !important;
}
.btn-default:hover {
    color: #00ff00;
    background-color: rgba(0,255,0,0.4);
    border-color: #00ff00;
}